.body {
}

.hideable {
    opacity: 0;
}

.images {
    width: 500px;
    height: 500px;
    margin: auto;
}

.images img {
    display: block;
    position: absolute;
}

.buttons {
    width: 10%;
    margin: auto;
}

li {
    list-style-type: none;
}

.circles{
    width: 10%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.circle {
    background-color: #c06;
    border: 3px solid #333;
    height: 15px;
    width: 15px;
    -webkit-border-radius: 75px;
}

.circle:hover{
    background-color: #98cc1f;
}