#calculator{
    background-color: aqua;
    width: 300px;
}

#head{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 40px;
    background-color: blueviolet;
    padding: 2px;
}

#head input{
    width: 15%;
    margin: 1px;
    border: none;
}

#display{
    background-color: aliceblue;
    flex-grow: 1;
    margin-left: 0.5%;
    text-align: right;
}

#buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    background-color: aqua;
    justify-content: center;
}

#buttons input{
    background-color: lightblue;
    width: 21%;
    border: none;
    margin: 1%;
}