#calculator{
    width: 300px;
    border: dashed;
    border-color: crimson;
    background-color: rgba(255, 20, 65, 0.47);
    border-radius: 5%;
}

#head{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 40px;
    padding: 2px;
}

#head input{
    width: 15%;
    margin: 1px;
    border: none;
}

#display{
    flex-grow: 1;
    margin-left: 0.5%;
    text-align: right;
}

#buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

#buttons input{
    width: 21%;
    height: 30px;

}

input:hover{
    border-radius: 0%;
    background-color: rgba(255, 20, 65, 0.52);
}

input{
    border: none;
    margin: 1%;
    border-radius: 5%;
    background-color: rgba(255, 20, 65, 0.16);
}